.timerBg {
  background: url('../../../public/images/ancient_3.jpeg') no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.timerContainer {
  @apply bg-black bg-opacity-30 w-full text-center py-2;
}

.timerContainer .timer {
  @apply font-rapier text-text-primary text-3xl;
}

.timerContainer .gameType {
  @apply font-rajdhani text-text-primary text-h6;
}
